docs/wsdl/MT_PrepaymentReversalResponseOutput_253_254.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:scottishpower.com:SMART:PAYOUTLET:ISU1:PrepaymentReversalSyncRequest:253_254" xmlns="urn:scottishpower.com:SMART:PAYOUTLET:ISU1:PrepaymentReversalSyncRequest:253_254" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="MT_PrepaymentReversalResponseOutput_253_254" type="DT_PrepaymentReversalSyncResponse_253_254"/><xsd:complexType name="DT_PrepaymentReversalSyncResponse_253_254"><xsd:annotation><xsd:documentation xml:lang="EN">Prepayment reversal response</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="Response"><xsd:complexType><xsd:sequence><xsd:element name="ExternalID" type="xsd:string"><xsd:annotation><xsd:documentation>External ID from payment outlet</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="PaymentIdentifier" type="xsd:string"><xsd:annotation><xsd:documentation>Payment Identifier</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="UTRN" type="xsd:string"><xsd:annotation><xsd:documentation>UTRN</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="Messages" minOccurs="0"><xsd:complexType><xsd:sequence><xsd:element name="Message" minOccurs="0" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="Type" type="xsd:string"><xsd:annotation><xsd:documentation>Type of Message
“E” – Error
“S” – Success</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="Code" type="xsd:string"><xsd:annotation><xsd:documentation>Error</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="Text" type="xsd:string"><xsd:annotation><xsd:documentation>Error</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>