docs/wsdl/MT_PrepaymentReversalRequestInput_253_254 (2).xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:scottishpower.com:SMART:PAYOUTLET:ISU1:PrepaymentReversalSyncRequest:253_254" xmlns="urn:scottishpower.com:SMART:PAYOUTLET:ISU1:PrepaymentReversalSyncRequest:253_254" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:element name="MT_PrepaymentReversalRequestInput_253_254" type="DT_PrepaymentReversalSyncRequest_253_254"/><xsd:complexType name="DT_PrepaymentReversalSyncRequest_253_254"><xsd:annotation><xsd:documentation xml:lang="EN">Prepayment reversal request</xsd:documentation></xsd:annotation><xsd:sequence><xsd:element name="Request"><xsd:complexType><xsd:sequence><xsd:element name="ExternalID" type="xsd:string"><xsd:annotation><xsd:documentation>External ID from payment outlet</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="PaymentIdentifier" type="xsd:string"><xsd:annotation><xsd:documentation>Payment Identifier</xsd:documentation></xsd:annotation></xsd:element><xsd:element name="UTRN" type="xsd:string"><xsd:annotation><xsd:documentation>UTRN</xsd:documentation></xsd:annotation></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>