docs/wsdl/MT_PrepaymentResponseInput_252 (2).xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema targetNamespace="urn:scottishpower.com:SMART:PAYOUTLET:ISU1:prepaymentResponse:252" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="urn:scottishpower.com:SMART:PAYOUTLET:ISU1:prepaymentResponse:252"><xsd:element name="MT_PrepaymentResponseInput_252" type="DT_PrepaymentResponse_252"/><xsd:complexType name="DT_PrepaymentResponse_252"><xsd:sequence><xsd:element name="Response"><xsd:complexType><xsd:sequence><xsd:element name="ExternalID" type="xsd:string"/><xsd:element name="PaymentIdentifier" type="xsd:string"/><xsd:element name="UTRN" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="Messages"><xsd:complexType><xsd:sequence><xsd:element name="Message" maxOccurs="unbounded"><xsd:complexType><xsd:sequence><xsd:element name="Type" type="xsd:string"/><xsd:element name="Code" type="xsd:string" minOccurs="0"/><xsd:element name="Text" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:element></xsd:sequence></xsd:complexType></xsd:schema>